.highlight {
  font-size: 0.85em;
  
  em {
    color: red;
    font-weight: bold;
  }
}

.results {
  padding-bottom: 10px;
}

.sidebar-nav > .well > .nav > .nav-header {
  font-weight: bold;
  padding-top: 5px;
}

#accordion {
  padding-bottom: 10px;
}